<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pr5">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Base.Theme.Pr5">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Регистрация всех экранов заданий -->
        <activity android:name=".Task1Activity" android:exported="false"/>
        <activity android:name=".Task2Activity" android:exported="false"/>
        <activity android:name=".Task3Activity" android:exported="false"/>
        <activity android:name=".Task4Activity" android:exported="false"/>
        <activity android:name=".Task5Activity" android:exported="false"/>
        <activity android:name=".Task6Activity" android:exported="false"/>
        <activity android:name=".Task7Activity" android:exported="false"/>
        <activity android:name=".Task8Activity" android:exported="false"/>
        <activity android:name=".Task9Activity" android:exported="false"/>
        <activity android:name=".Task10Activity" android:exported="false"/>
        <activity android:name=".Task11Activity" android:exported="false"/>
        <activity android:name=".Task12Activity" android:exported="false"/>
        <activity android:name=".Task13Activity" android:exported="false"/>
        <activity android:name=".Task14Activity" android:exported="false"/>
        <activity android:name=".Task15Activity" android:exported="false"/>
    </application>
</manifest>